<div class="container2">
    <div class="box1 ">
        Views
    </div>
    <div id="activeClass" class="body" >
        <div id="objectType" class="box boxs active"  (click)="showObjectTypePanel($event)" (click)="activeClass($event)" #objectType>
            Object Type
        </div>
        <div id="perigee" class="box boxs" (click)="showPerigeePanel($event)" (click)="activeClass($event)" #perigee>
            Perigee
        </div>
        <div id="period" class="box boxs" (click)="showPeriodPanel($event)" (click)="activeClass($event)" #period>
            Period
        </div>
        <div id="inclination" class="box boxs" (click)="showInclinationPanel($event)" (click)="activeClass($event)" #inclination>
            Inclination
        </div>
        <div id="countryOrigin" class="box boxs" (click)="showCountryOriginPanel($event)" (click)="activeClass($event)" #countryOrigin>
            Country of Origin
        </div>
    </div>
</div>
