<!-- switch to second left panel start -->
<div id="secondSwitchMood" class="container">
    <!-- navbar buttons -->
    <nav class="nav">
        <ul>
            <li>CAT</li>
            <li>SAT</li>
            <li>GS</li>
            <li>MAP</li>
            <li>DBG</li>
        </ul>
    </nav>
    <!-- second left panel -->
    <div id="secondLeftPanel" class="second-left-panel">
        <div class="box1">
            Tracked Satellite
        </div>
        <div class="box2">
            <div class="select">
                <select name="" id="">
                    <option value="">ISS</option>
                </select>
            </div>
            <div class="icon">
                <img src="../assets/images/icons8-refresh-32.png" alt="">
            </div>
        </div>
        <div class="box1">
            Visible Satellite
        </div>
        <div class="box2">
            <div class="select">
                <select name="" id="">
                    <option value="">Enabled Satellite (8)</option>
                </select>
            </div>
            <div class="icon">
                <img src="../assets/images/icons8-refresh-32.png" alt="">
            </div>
        </div>
        <div class="box1">
            Monitored Satellite
        </div>
        <div class="box2">
            <div class="select">
                <select name="" id="">
                    <option value="">Monitored Satellite (1)</option>
                </select>
            </div>
            <div class="icon">
                <img src="../assets/images/icons8-refresh-32.png" alt="">
            </div>
        </div>

    </div>
</div>
<!-- switch to second left panel end -->


<!-- right data panel start -->
<div id="rightPanel" class="right-panel">
    <div class="header">
        <div class="icon"> <img src="../assets/images/icons8-no-video-30.png" alt="" height="12px" width="12px"></div>
        <div class="txt">ISS</div>
        <div class="icon">x</div>
    </div>
    <div class="body">
        <div class="box1">
            Position
        </div>
        <div class="box2">
            <table class="table-container">
                <tr class="tr">
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Elevation</th>
                </tr>
                <tr>
                    <td>ISS</td>
                    <td>0.84°</td>
                    <td>0.28°</td>
                    <td>411.28 km</td>
                </tr>
            </table>
        </div>
        <div class="box1">
            Passes
        </div>
        <div class="box2">
            <table class="table-container">
                <tr class="tr">
                    <th>Countdown</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>El</th>
                    <th>Az</th>
                </tr>
                <tr>
                    <td>ONGOING</td>
                    <td>28.10 09:53:37</td>
                    <td>10:04:29</td>
                    <td>84°</td>
                    <td>112.18°</td>
                </tr>
                <tr>
                    <td>ONGOING</td>
                    <td>28.10 09:53:37</td>
                    <td>10:04:29</td>
                    <td>84°</td>
                    <td>112.18°</td>
                </tr>
                <tr>
                    <td>ONGOING</td>
                    <td>28.10 09:53:37</td>
                    <td>10:04:29</td>
                    <td>84°</td>
                    <td>112.18°</td>
                </tr>
                <tr>
                    <td>ONGOING</td>
                    <td>28.10 09:53:37</td>
                    <td>10:04:29</td>
                    <td>84°</td>
                    <td>112.18°</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- right data panel end -->