<!-- object type start -->
<div class="object-type" *ngIf="isObPanel">
    <div class="header">
        Object Type
    </div>
    <div class="body">
        <div class="box">
            <div class="small-box" style="background: green;"></div>
            <div class="text">
                Payload 
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: yellow;"></div>
            <div class="text">
                Rocket Body
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: red;"></div>
            <div class="text">
                Debris
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: blue;"></div>
            <div class="text">
                Unknown
            </div>
        </div>
    </div>
</div>
<!-- object type end -->

<!-- perigee Panel start -->
<div class="object-type" style="width: 140px;" *ngIf="isPerigeePanel">
    <div class="header">
        Perigee
    </div>
    <div class="body">
        <div class="box">
            <div class="small-box" style="background: #b6b6b6;"></div>
            <div class="text">
                0 - 200 km
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #9797b4;"></div>
            <div class="text">
                200 - 400 km
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #7d7db6;"></div>
            <div class="text">
                400 - 600 km
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #5f5fb6;"></div>
            <div class="text">
                600 - 800 km
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #413fb8;"></div>
            <div class="text">
                800 - 1000 km
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #211fb6;"></div>
            <div class="text">
                1000 - 1500 km
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #0807b8;"></div>
            <div class="text">
                &gt; 1500 km
            </div>
        </div>
    </div>
</div>
<!-- perigee Panel end -->

<!-- period Panel start -->
<div class="object-type" *ngIf="isPeriodPanel">
    <div class="header">
        Period
    </div>
    <div class="body">
        <div class="box">
            <div class="small-box" style="background: #b6b6b6;"></div>
            <div class="text">
                90 - 100 min
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #9797b4;"></div>
            <div class="text">
                100 - 110 min
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #7d7db6;"></div>
            <div class="text">
                110 - 120 min
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #5f5fb6;"></div>
            <div class="text">
                120 - 140 min
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #413fb8;"></div>
            <div class="text">
                150 - 160 min
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #211fb6;"></div>
            <div class="text">
                160 - 180 min
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background:  #0807b8;"></div>
            <div class="text">
                &gt; 180 min
            </div>
        </div>
    </div>
</div>
<!-- period Panel end -->

<!-- Inclination Panel start -->
<div class="object-type" style="width: 140px;" *ngIf="isIncPanel">
    <div class="header">
        Inclination
    </div>
    <div class="body">
        <div class="box">
            <div class="small-box" style="background: #b6b6b6;"></div>
            <div class="text">
                0 - 60 deg
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #9797b4;"></div>
            <div class="text">
                60 - 70 deg
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #7d7db6;"></div>
            <div class="text">
                70 - 80 deg
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #5f5fb6;"></div>
            <div class="text">
                80 - 90 deg
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #413fb8;"></div>
            <div class="text">
                90 - 100 deg
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background:  #211fb6;"></div>
            <div class="text">
                100 - 110 deg
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: #0807b8;"></div>
            <div class="text">
                &gt; 110 deg
            </div>
        </div>
    </div>
</div>
<!-- Inclination Panel end -->

<!-- countryOrigin start -->
<div class="object-type" *ngIf="isCountryPanel">
    <div class="header">
        Country of Origin
    </div>
    <div class="body">
        <div class="box">
            <div class="small-box" style="background: blue;"></div>
            <div class="text">
                USA
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: orange;"></div>
            <div class="text">
                Russia
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: red;"></div>
            <div class="text">
                China
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: cadetblue;"></div>
            <div class="text">
                Japan
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: yellow;"></div>
            <div class="text">
                India
            </div>
        </div>
        <div class="box">
            <div class="small-box" style="background: forestgreen;"></div>
            <div class="text">
                Other
            </div>
        </div>
    </div>
</div>
<!-- countryOrigin end -->